

.tickIcon {
   position: absolute;
   top: 5%;
   right: 1%;
   width: 25px;
   height: 25px;
   position: flex;
}
.tickIcon img {
   left: 0px;
   top: 0px;
   width: 25px;
   display: block;
}

.marked {
   opacity: 0;
}
.marked.show {
   animation-duration: 0.52s;
   animation-name: scaleEntrance;
   animation-fill-mode: forwards;
}

@keyframes scaleEntrance {
   from {
      transform: scale(2);
      opacity: 0;
   }

   5% {
      transform: scale(0.25);
      opacity: 0;
   }

   40% {
      transform: scale(1.5);
      opacity: 1;
   }

   to {
      transform: scale(1);
      opacity: 1;
   }
}